* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1F1F1F;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress--bar {
    background-color: #09B062;
    height: 100%;
    transition: all ease .5s;
}

.questionArea,
.scoreArea {
    display: none;
}

.questionArea {
    max-width: 500px;
    width: 100%;
}

.question {
    color: #FFF;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}
.option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: .5px solid #006633;
    margin-bottom: 5px;
    color: #AAA;
    font-size: 16px;
    cursor: pointer;
}
.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #006633;
}
.option:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.scoreArea {
    background-color: #115941;
    border: .5px solid #006633;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.prizeImage {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
.scoreText1 {
    color: whitesmoke;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scorePct {
    color: #0d630d;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scoreText2 {
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #CCC;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.shieldImage {
    margin-top: 25px;
}

.shieldImage > img {
    opacity: 60%;
    height: 150px;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}
